name: CD Pipeline

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: windows-latest
    environment: development

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
