name: ci-wf

on:
  pull_request:
    branches:
      - develop
    types:
      - opened
      - synchronize

jobs:
  linting-job:
    runs-on: ubuntu-latest
    steps:
      - name: Linting Job
        run: echo "Starting Linting of HTML & CSS Files"
      - name: Clone Repo On the Runner
        uses: actions/checkout@v6
      - name: Install Dev Dependencies
        run: npm install
      - name: Lint HTML Files
        run: npx htmlhint "**/*.html"
      - name: Lint CSS Files
        run: npx stylelint "**/*.css"

  build-job:
    runs-on: ubuntu-latest
    needs: "linting-job"
    steps:
      - name: Build Job
        run: echo "Build Job Going to Start"
      - name: Clone Repo
        uses: actions/checkout@v6
      - name: Install Dependencies
        run: npm install
      - name: Build Website With Parcel
        run: npx parcel build "./src/index.html" --dist-dir "./dist" --public-url "./" --no-cache
